<!-- <div>
  <router-outlet></router-outlet>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-1">
      sidenav
    </div>
    <div class="col-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<mat-drawer-container>
  <mat-drawer class="sidenav col-1 col-xs-12" mode="side" opened>
    <a class="nav-item nav-link" [routerLink]="['']" routerLinkActive="router-link-active">home</a>
    <a class="nav-item nav-link" [routerLink]="['card']" routerLinkActive="router-link-active">card</a>
    <a class="nav-item nav-link" [routerLink]="['container-list']" routerLinkActive="router-link-active">card list</a>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <mat-toolbar class="topnav col-11 col-md-12">
      <span>My Application</span>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

