<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p>Air Shipment Details: VAENATPG </p>
      <p>Flight: ARRIVING</p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p>AC6002T</p>
      <p>Wednesday, June 30, 2021</p>
    </div>
  </div>
  <div class="container-details">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">SHIPMENT DETAILS <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DECLARATION DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="shipment-details">
      <div class="row">
        <div class="col">
          <p>arriving</p>
          <p>Date</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="flight-box">
            <div class="row">
              <div class="col-6" align="left">
                <p>DEPARTURE</p>
              </div>
              <div class="col-6" align="right">
                <p>ARRIVAL</p>
              </div>
              <!-- <div class="col d-flex justify-content-between">
                <p>DEPARTURE</p>
                <p>ARRIVAL</p>
              </div> -->
            </div>
            <div class="row">
              <div class="col-1">
                <img src="assets/flags/united-states.png" class="flag img-fluid" />
              </div>
              <div class="col-3">
                <p>DEPARTURE</p>
                <p>CITY</p>
              </div>
              <div class="col-4 my-0">
                <hr align="center">
                <p style="text-align: center;">FLIGHT NUMBER</p>
                <p style="text-align: center;">FLIGHT DURATION</p>
              </div>
              <div class="col-3">
                <p>ARRIVAL</p>
                <p>CITY</p>
              </div>
              <div class="col-1 d-none d-md-block">
                <img src="assets/flags/philippines.png" class="flag img-fluid" />
              </div>
            </div>
          </div>
          <div class="row" id="text-row">
            <div class="col-6 mt-1">
              <p>SHIPPER</p>
              <p>Predovic - Hegmann</p>
              <p>28659 Doyle Crest</p>
              <p>Lake Kirsten, Ohio 38840 Guadeloupe</p>
            </div>
            <div class="col-6 mt-1">
              <p>CONSIGNEE</p>
              <p>Predovic - Hegmann</p>
              <p>28659 Doyle Crest</p>
              <p>Lake Kirsten, Ohio 38840 Guadeloupe</p>
            </div>
            <div class="col-6 mt-1">
              <p>PICK UP</p>
              <p>Predovic - Hegmann</p>
              <p>28659 Doyle Crest</p>
              <p>Lake Kirsten, Ohio 38840 Guadeloupe</p>
            </div>
            <div class="col-6 mt-1">
              <p>DELIVERY</p>
              <p>Predovic - Hegmann</p>
              <p>28659 Doyle Crest</p>
              <p>Lake Kirsten, Ohio 38840 Guadeloupe</p>
            </div>
            <div class="col-6 mt-1">
              <p>PICK UP DETAILS</p>
              <p>Predovic - Hegmann</p>
            </div>
            <div class="col-12">
              <hr align="center">
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="delivery-container">
            <div class="row" id="text-row">
              <div class="col-6" align="right">
                <p>Customs</p>
                <p>icon</p>
                <p>status</p>
              </div>
              <div class="col-6" align="left">
                <p>Delivery</p>
                <p>icon</p>
                <p>status</p>
              </div>
            </div>
            <p class="shipment-milestones">SHIPMENT MILESTONES</p>
            <div class="row milestone-boxes">
              <div class="col-5 box">
                <p>Picked up</p>
                <p>Actual:</p>
                <p>Date</p>
              </div>
              <div class="col-5 box">
                <p>Picked up</p>
                <p>Actual:</p>
                <p>Date</p>
              </div>
            </div>
            <div class="row milestone-boxes">
              <div class="col-5 box">
                <p>Picked up</p>
                <p>Actual:</p>
                <p>Date</p>
              </div>
              <div class="col-5 box">
                <p>Picked up</p>
                <p>Actual:</p>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="text-row">
        <div class="col-4 mt-1">
          <p>MASTER AIR WAYBILL</p>
          <p>(JQQ) - AFQNO</p>
        </div>
        <div class="col-4 mt-1">
          <p>INCO TERMS</p>
          <p>Cost And Freight</p>
        </div>
        <div class="col-4 mt-1">
          <p>DESCRIPTION</p>
          <p>SKIM MILK POWDER - MEDIUM HEAT CODE
          </p>
        </div>
      </div>
      <div class="row" id="text-row">
        <div class="col-4 mt-1">
          <p>SHIPPER</p>
          <p>Predovic - Hegmann</p>
        </div>
        <div class="col-4 mt-1">
          <p>CONSIGNEE</p>
          <p>Predovic - Hegmann</p>
        </div>
        <div class="col-4 mt-1">
          <p>PICK UP</p>
          <p>Predovic - Hegmann</p>
        </div>
      </div>
      <div class="row" id="text-row">
        <div class="col-4 mt-1">
          <p>SHIPPER</p>
          <p>Predovic - Hegmann</p>
        </div>
        <div class="col-4 mt-1">
          <p>CONSIGNEE</p>
          <p>Predovic - Hegmann</p>
        </div>
        <div class="col-4 mt-1">
          <p>PICK UP</p>
          <p>Predovic - Hegmann</p>
        </div>
      </div>
    </div>
  </div>
