<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p>Air Shipment Details: VAENATPG </p>
      <p>Flight: ARRIVING</p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p>AC6002T</p>
      <p>Wednesday, June 30, 2021</p>
    </div>
  </div>
  <div class="container-tabs">
    <mat-tab-group>
        <mat-tab label="SHIPPING DETAILS">
          <ng-template matTabContent>
            <app-ship-details-tab></app-ship-details-tab>
          </ng-template>
        </mat-tab>
      <mat-tab label="DECLARATION DETAILS">
        <ng-template matTabContent>
          <app-declaration-details></app-declaration-details>
        </ng-template>
      </mat-tab>
      <mat-tab label="DOCUMENTS">
        <ng-template matTabContent>
          <app-documents></app-documents>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="container-shipping-legs">
    <div class="row">
      <div class="col-lg-3">
        <p>map</p>
      </div>
      <div class="col-lg-9 ">
        <p>SHIPPING LEGS</p>
        <hr class="tittle-hr">
        <div class="container-shipping-legs-details">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row" style="justify-content: center;">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
                <div class="col-6">
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
                <div class="col-6">
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
                <div class="col-6">
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
                <div class="col-6">
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
                <div class="col-6">
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <img src="assets/icons/anchor.svg" class=" icon" />
              <div class="row">
                <div class="col-6">
                  <div class="circle"></div>
                </div>
              </div>
              <div id="shipping-legs-text">
                <p>SEATTLE, UNITED STATES</p>
                <p>Departed
                  June, 26 - 03:47 AM</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
