@import "src/styles.scss";

.container {
  height: 600px;
  width: 400px;
  border-radius: 5px;
  border-style: solid;
  border-color: $primary-blue;
}

.header-text {
  font-size: 1em;
}

.container-number {
  text-decoration: underline;
  color: $container-blue;
  cursor: pointer;
}

.container-number-dark {
  text-decoration: underline;
  color: $pink;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  background-color: $secondary-blue;
  height: 30px;
  width: 30px;
}

.container-status {
  font-weight: bold;
  font-size: medium;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $primary-blue;
  color: white;
  font-size: small;
}

.destination {
  padding-top: 15px;
  height: 50px;
}

.origin-destination {
  font-size: small;
  font-weight: bold;
  text-align: left;
}

.destination-arrows {
  padding-top: 7px;
  font-size: medium;
  font-weight: bold;
}

.flag {
  width: 100%;
}

// Circle w/ centered icon
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  // outer element must have position relative
  position: relative;
  background-color: $secondary-blue;

  .centered {
    // inner element must have position absolute
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon {
    height: 25px;
    width: 25px;
    color: white;
  }
}

.drawer {
  max-height: 320px;
  overflow: hidden;
}

.drawer-closed {
  height: 320px;
  overflow-y: auto;
  transition: height 0.1s ease-in;
}
.drawer-open {
  height: 0px;
  overflow-y: scroll;
  transition: height 0.1s ease-out;
}

.flex-grow {
  flex-grow: 1;
}

.view-more-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-button {
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
}

.view-more-button:focus {
  outline-color: transparent;
}

.view-more-categories {
  font-size: small;
  font-weight: bold;
  margin-bottom: 0;
}

.view-more-details {
  font-size: x-small;
  margin-top: 0;
  margin-bottom: 0;
}

.view-more-details-col {
  margin-bottom: 15px;
}
