<div class="container">
  <div class="row header">
    <div class="col-2">
      <div class="circle my-auto">
        <img src="assets/icons/anchor.svg" class="centered icon" />
      </div>
    </div>
    <div class="col-5">
      <p class="my-0">Status</p>
      <h3 class="container-status">{{ container.status }}</h3>
    </div>
    <div class="col-5">
      <!-- <a routerLink="/container-detail/{{ container.Id }}" [ngClass]="darkMode ? 'container-number': 'container-number-dark'">
        {{ container.containerNumber }}
      </a> -->
      <a routerLink="/container-detail/{{ container.Id }}" [ngStyle]="{'color': colorA}">
        {{ container.containerNumber }}
      </a>
      <div class="header-text">
        ETD: {{ container.etd | date:'mediumDate' }}<br />
        ETA: {{ container.eta | date:'mediumDate' }}
      </div>
    </div>
  </div>
  <div class="row destination">
    <div class="col-2">
      <img src="assets/flags/philippines.png" class="img-fluid flag" />
    </div>
    <div class="col-3 origin-destination">
      {{ container.origin }}
    </div>
    <!-- lets get the svg for this -->
    <div class="col-1 destination-arrows">
      <p>>></p>
    </div>
    <div class="col-2">
      <img src="assets/flags/united-states.png" class="img-fluid flag" />
    </div>
    <div class="col-4 origin-destination">
      {{ container.destination }}
    </div>
  </div>
  <hr>
  <div class="drawer flex-grow" [ngStyle]="{'overflow-y': drawerOpen ? 'auto': ''}" [ngClass]="drawerOpen ? 'drawer-closed': 'drawer-open'">
    <!-- lets pass in shipping legs for data -->
    <app-shipping-details></app-shipping-details>
  </div>
  <div *ngIf="drawerOpen"><hr></div>
  <div class="row" >
    <div class="col-12 view-more-header">
      <!-- lets make this button dynamic (view more if closed, view less if open) -->
      <button class="view-more-button" (click)="drawerOpen = !drawerOpen">VIEW MORE</button>
    </div>
  </div>
  <!-- lets use actual data for this area -->
  <div class="row mt-1" >
    <div class="col-4 view-more-details-col">
      <p class="view-more-categories">CONSIGNEE</p>
        <p class="view-more-details">Hand - Veum</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">MASTER AIR WAYBILL</p>
        <p class="view-more-details">(EWU) - BHNNZ</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">CONTAINER NUMBER</p>
        <p class="view-more-details">Not Found</p>
      </div>
  </div>
  <!-- lets consolidate these ngStyle and ngClass attribrutes -->
    <div class="drawer flex-grow" [ngStyle]="{'overflow-y': drawerOpen ? 'auto': ''}" [ngClass]="drawerOpen ? 'drawer-open': 'drawer-closed'">
    <div class="row mt-1" >
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">CONSIGNEE</p>
        <p class="view-more-details">Hand - Veum</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">MASTER AIR WAYBILL</p>
        <p class="view-more-details">(EWU) - BHNNZ</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">CONTAINER NUMBER</p>
        <p class="view-more-details">Not Found</p>
      </div>
    </div>
    <div class="row mt-1" >
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">CONSIGNEE</p>
        <p class="view-more-details">Hand - Veum</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">MASTER AIR WAYBILL</p>
        <p class="view-more-details">(EWU) - BHNNZ</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">CONTAINER NUMBER</p>
        <p class="view-more-details">Not Found</p>
      </div>
    </div>
    <div class="row" style="margin-top: 6px;">
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">ORDER REFS</p>
        <p class="view-more-details">VXWRSMFQCXXG</p>
        <p class="view-more-details">MXFVRETVQYKX</p>
        <p class="view-more-details">KKLDXKHWOSGJ</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">ETD</p>
        <p class="view-more-details">ETD NOT FOUND</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">ATD</p>
        <p class="view-more-details">REF NOT FOUND</p>
      </div>
    </div>
    <div class="row" style="margin-top: 6px;">
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">ORIGIN GATE-IN DATE</p>
        <p class="view-more-details">REF NOT FOUND</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">TOTAL PACKAGES</p>
        <p class="view-more-details">1</p>
      </div>
      <div class="col-4 view-more-details-col">
        <p class="view-more-categories">SHIPPER</p>
        <p class="view-more-details">Lebsack, Gutmann and Rice</p>
      </div>
    </div>
  </div>
  <!-- <button (click)="darkMode = !darkMode">Change text color</button> -->
  <button (click)="changeColor()">Change text color</button>

