<!-- // container
//    row
//      col -->




<div class="container">

  <!-- Header Row -->

  <!-- lets put the style attributes in the header class -->
  <div class="row header">

    <div class="col-2">
      <div class="circle my-auto">
        <img src="assets/icons/anchor.svg" class="centered icon"/>
      </div>
    </div>

    <div class="col-5">
      <!-- use bootstrap margin classes -->
      <p class="my-0">Status</p>
      <h3 class="container-status">{{ demoContainer.status }}</h3>
    </div>

    <div class="col-5">
      <!-- lets make this a link to something -->
      <!-- lets use variables for colors -->
      <div class="container-number">
        {{ demoContainer.containerNumber }}
      </div>
      <div class="header-text">
        ETD: {{ demoContainer.etd | date:'mediumDate' }}<br/>
        ETA: {{ demoContainer.eta | date:'mediumDate' }}
      </div>
    </div>

  </div>

  <!-- Flag Row -->
  <!-- lets consolidate row and destination divs -->

  <div class="row destination">
    <div class="col-5">
      <img src="assets/flags/philippines.png" class="img-fluid flag" />
      <div>
        {{ demoContainer.origin }}
      </div>
    </div>
    <div class="col-2">
      <br>
      <!-- lets get the actual svg for this -->
      <p style="font-weight: bold;">>></p>
    </div>
    <div class="col-5">
      <img src="assets/flags/united-states.png" class="img-fluid flag" />
      <div>
        {{ demoContainer.destination }}
      </div>
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-2">
      <div class="circle my-auto">
        <img src="assets/icons/delivery-truck.svg" class="centered icon"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="col">
      <p style="font-weight: bold;">Country, City</p>
      <hr>
      <div class="row statuses">
        <div class="col">
        <p class="status-text">Arrived</p>
        <p class="status-text">Departed</p>
          </div>
        <div class="col">
          <p class="status-text">Date</p>
          <p class="status-text">date</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="circle my-auto">
        <img src="assets/icons/delivery-truck.svg" class="centered icon"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="col">
      <p style="font-weight: bold;">Country, City</p>
      <hr>
      <div class="row statuses">
        <div class="col">
        <p class="status-text">Arrived</p>
        <p class="status-text">Departed</p>
          </div>
        <div class="col">
          <p class="status-text">Date</p>
          <p class="status-text">date</p>
        </div>
      </div>
    </div>
  </div>




</div>
