<div class="row">
  <div class="col-2">
    <div class="circle my-auto">
      <img src="assets/icons/delivery-truck.svg" class="centered icon" />
    </div>
    <div class="line"></div>
  </div>
  <div class="col">
    <p style="font-weight: bold;">Country, City</p>
    <hr>
    <div class="row statuses">
      <div class="col">
        <p class="status-text">Arrived</p>
        <p class="status-text">Departed</p>
      </div>
      <div class="col">
        <p class="status-text">Date</p>
        <p class="status-text">date</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <div class="circle my-auto">
      <img src="assets/icons/delivery-truck.svg" class="centered icon" />
    </div>
    <div class="line"></div>
  </div>
  <div class="col">
    <p style="font-weight: bold;">Country, City</p>
    <hr>
    <div class="row statuses">
      <div class="col">
        <p class="status-text">Arrived</p>
        <p class="status-text">Departed</p>
      </div>
      <div class="col">
        <p class="status-text">Date</p>
        <p class="status-text">date</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <div [ngClass]="hasArrivedTF ? 'circle-arrived': 'circle-expected'">
      <img src="assets/icons/delivery-truck.svg" class="centered icon" />
    </div>
    <div class="line"></div>
  </div>
  <div class="col">
    <p style="font-weight: bold;">Country, City</p>
    <hr>
    <div class="row statuses">
      <div class="col">
        <p class="status-text">Arrived</p>
        <p class="status-text">Departed</p>
      </div>
      <div class="col">
        <p class="status-text">Date</p>
        <p class="status-text">date</p>
      </div>
    </div>
  </div>
</div>

