<div class="row" *ngFor="let stop of stops">
  <div class="col-2">
    <div class="circle my-auto" [ngClass]="stop.currentLeg ? 'circle-departed' : stop.hasArrived ? 'circle-arrived' : 'circle-expected' ">
      <img src="assets/icons/delivery-truck.svg" class="centered icon" />
    </div>
    <div class="line"></div>
  </div>
  <div class="col">
    <p style="font-weight: bold;">{{stop.leg.location}}</p>
    <hr>
    <div class="row statuses" *ngIf="stop.leg.ata">
      <div class="col d-flex justify-content-between">
        <p class="status-text">Arrived</p>
        <p class="status-text">{{stop.leg.ata}}</p>
      </div>
    </div>
    <!-- TODO lets look at null checks -->
    <!-- TODO lets apply status-text class to the parent row only, handle in scss like yesterday -->
    <div class="row" *ngIf="stop.leg.atd">
      <div class="col d-flex justify-content-between">
        <p class="status-text">Departed</p>
        <p class="status-text">{{stop.leg.atd}}</p>
      </div>
    </div>
  </div>
</div>

