<div class="entry-info-container">
  <div class="row">
    <div class="col">
      <h6 class="tittle">entry info</h6>
      <hr class="tittle-hr">
    </div>
  </div>
  <div class="row" id="details-text">
    <div class="col-3">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
    <div class="col-3">
      <p>OWNER REF #</p>
      <p>VTBUNMDK</p>
    </div>
    <div class="col-6">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
    <div class="col-3">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6 class="tittle">statement details</h6>
      <hr class="tittle-hr">
    </div>
  </div>
  <div class="row" id="details-text">
    <div class="col-3">
      <p>NUMBER</p>
      <p>27167703</p>
    </div>
    <div class="col-3">
      <p>STATUS</p>
      <p>Not Available</p>
    </div>
    <div class="col-6">
      <p>DUE DATE</p>
      <p>Not Available</p>
    </div>
    <div class="col-3">
      <p>CHECK #</p>
      <p>430106943</p>
    </div>
  </div>
</div>


<div class="invoices-container">
  <div class="row">
    <div class="col">
      <h6 class="tittle">invoices</h6>
      <hr class="tittle-hr">
      <mat-toolbar class="invoice-number">
        <mat-toolbar-row id="invoice-text">
            <div class="col">
              <p>INVOICE NUMBER</p>
            </div>
            <div class="col">
              <p>SUPPLIER</p>
            </div>
            <div class="col">
              <p>INVOICE TERMS</p>
            </div>
            <div class="col">
              <p>TOTAL AMOUNT</p>
            </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="row invoice-details" id="invoice-text">
        <div class="col">
          <p>46ME05ZQIC</p>
        </div>
        <div class="col">
          <p>Mraz, Bradtke and Roberts</p>
        </div>
        <div class="col">
          <p>INVOICE TERMS</p>
        </div>
        <div class="col">
          <p>TOTAL AMOUNT</p>
        </div>
      </div>
    </div>
  </div>
</div>
