<div class="entry-info-container">
  <div class="row">
    <div class="col">
      <p>ENTRY INFO</p>
      <hr>
    </div>
  </div>
  <div class="row" id="details-text">
    <div class="col-3">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
    <div class="col-3">
      <p>OWNER REF #</p>
      <p>VTBUNMDK</p>
    </div>
    <div class="col-6">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
    <div class="col-3">
      <p> ISF STATUS</p>
      <p> Not Available</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>STATEMENT DETAILS</p>
      <hr>
    </div>
  </div>
  <div class="row" id="details-text">
    <div class="col-3">
      <p>NUMBER</p>
      <p>27167703</p>
    </div>
    <div class="col-3">
      <p>STATUS</p>
      <p>Not Available</p>
    </div>
    <div class="col-6">
      <p>DUE DATE</p>
      <p>Not Available</p>
    </div>
    <div class="col-3">
      <p>CHECK #</p>
      <p>430106943</p>
    </div>
  </div>
</div>


<div class="invoices-container">
  <div class="row">
    <div class="col">
      <p>INVOICES</p>
      <hr>
      <mat-toolbar class="invoice-number">
        <mat-toolbar-row id="invoice-text">
            <div class="col">
              <p>INVOICE NUMBER</p>
            </div>
            <div class="col">
              <p>SUPPLIER</p>
            </div>
            <div class="col">
              <p>INVOICE TERMS</p>
            </div>
            <div class="col">
              <p>TOTAL AMOUNT</p>
            </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
